import Button from '../../components/button';

export const Primary = () => <Button>My Primary Button</Button>;

export const Secondary = () => (
  <Button onClick={() => console.log('You can add events!')}>
    My Secondary Button
  </Button>
);
