// Update according your components

import { Button } from '@thonlabs/ui/components/button';

export const Primary = () => (
  <Button variant="primary">My Primary Button</Button>
);

export const Secondary = () => (
  <Button variant="primary" onClick={() => console.log('You can add events!')}>
    My Secondary Button
  </Button>
);
